<!-- Search Panel -->
<br><br><br>
<div class="container1">
    <div class="row">
        <div class="col-3 m-2">
            <label><b>Country :</b></label>
            <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="country">
                <option value="">Select Country</option>
                <option *ngFor="let country of countries">{{ country }}</option>
            </select>
        </div>
       
        <div class="col-3 m-2">
            <label><b>Indicator Type :</b></label>
            <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="indType">
                <option value="">Select Indicator Type</option>
                <option *ngFor="let ind of indicators">{{ ind }}</option>
            </select>
        </div>
     
        <div class="col-3 m-2">
            <label><b>Year :</b></label>
            <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="year">
                <option value="">Select Year</option>
                <option *ngFor="let year of years">{{ year }}</option>
            </select>
        </div>
      
        <div class="col-2 m-2">
            <label><br></label>
            <br>
            <button class="btn btn-primary  m-1" (click)="calculate()">Search</button>
        </div>

    </div>
</div>
      
<!-- Cards -->
<div class="container">
    <h2>SUMMARY :</h2>
    <div class="row">
        <div class="col-4">
            <div class="card p-3 bg-primary h-100 d-flex flex-column  m-1">
                <div class="card-body ">
                    <div class="card-title">
                        <h3><b>Energy Indicators<hr color="black"></b></h3>
                        Enery Import : {{ energyImport }} {{ expimpUnit }}
                    </div>
                     
                    <div> Total Enery Export : {{ energyExport }} {{ expimpUnit }} </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            
            <div class="card p-3 bg-secondary  h-100 d-flex flex-column m-1">
                <div class="card-body">
                    <div class="card-title">
                        <h3><b>Gas indicators<hr color="black"></b></h3>
                    </div>
                    <p></p>
                    <div>Gas Reverse to production : {{ gpRatio }} {{ gpUnit }}</div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card p-3 bg-warning  h-100 d-flex flex-column m-1">
                <div class="card-body">
                    <div class="card-title">
                        <h3><b>Economic indicators<hr color="black"></b></h3>
                    </div>
                    <p></p>
                    <div>GDP per capita based on PPP : {{ gdpPPP }} {{ gdpUnit }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


<!-- Table -->
<!--div class="drop">
<div class="row">
<div class="col-2"> <h4> <b>Select Country :</b></h4>
<select class="custom-select" id="inputGroupSelect" [(ngModel)]="tablecont" multiple>

    <option value="">Select Country</option>
     <option *ngFor="let countryA of countries">  {{ countryA }}</option>
</select>
</div>
<div class="col-2"> 
<select class="custom-select" id="inputGroupSelect" [(ngModel)]="tableInd">
    <option value="">Select Indicator Type</option>
    <option *ngFor="let ind of indicators">{{ ind }}</option>
</select>
</div>
<div class="col-2"> 
<select class="custom-select" id="inputGroupSelect" [(ngModel)]="tableyear">
    <option value="">Select Year</option>
    <option *ngFor="let year of years">{{ year }}</option>
</select>
</div>
<div class="col-1">
    <button class="btn btn-primary" (click)="tablecal()">display</button>
</div>


</div>
</div-->
<br>

<div class="table1 ">
    <h2>ENERGY INDICATOR-TYPE AND THEIR VALUES :</h2>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th>{{indType}}</th>
                <th>{{country}}</th>
                <!--th>{{country}}</th-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let c of comparision'>
                <td>{{ c.indicator }}</td>
                <td>{{ c['value'] }}</td>
                <!--td>{{ c['value\r'] }}</td-->
            </tr>
        </tbody>
    </table>
</div>

<div class="container1">
    <h2>ENERGY CONSUMPTION FOR LATEST YEARS :</h2>
    <div class="row">

        <div class="col-3 m-2">
            <label><b>Country :</b></label>
            <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="graphContSearch">
                <option value="">Select Country</option>
                <option *ngFor="let country of countries">{{ country }}</option>
            </select>
        </div>

        <div class="col-3 m-2">
            <label><b>Indicator Type :</b></label>
            <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="graphIndiTypeSearch"
                (ngModelChange)="filterIndicator(graphIndiTypeSearch)">
                <option value="">Select Indicator Type</option>
                <option *ngFor="let ind of indicators">{{ ind }}</option>
            </select>
        </div>
      
        <div class="col-3 m-2">
            <label><b>Indicator:</b></label>
            <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="graphIndiSearch">
                <option value="">Indicator</option>
                <option *ngFor="let Indicator of filteredIndicator">{{ Indicator.indicator }}</option>
            </select>
        </div>
      
        <div class="col-1 m-2">
            <label><br></label>
            <br>
            <button class="btn btn-primary"
                (click)="generateGraph(graphContSearch,graphIndiTypeSearch,graphIndiSearch)">Search</button>
        </div>

    </div>
</div>


<!--charts-->
<div class="bar" *ngIf="graphIndiSearch">
    <canvas baseChart [data]="salesData" [type]="'bar'" [options]="chartOptions">

    </canvas>
</div>