* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 70px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}
 .container{
    padding-top: 10px;
	padding-left: 15%;
}
.btn{
	padding-left: 2px;
}
table{
	width:70%;
	padding-left: 20px;
    padding-top: 5px;
	position:center;
	
}
.table1{
	width:100%;
	padding-top: 0px;
	padding-left: 15%;

}
.container1{
	padding-top: 10px;
	padding-left: 15%;
	padding-right: 10%;
	grid-template-columns: 1fr 1fr 1fr;
}
canvas{
	width: 100%;
}
.bar{
	width: 80%;
	padding-left: 15%;

}
.drop{
	padding-top: 10px;
}
 h2{
	color:rgb(224, 116, 138);
	font-size: 18px;
	padding-bottom:0px;
	
 }

b{
 font-size: 16px;

}
th{
	text-transform: uppercase;
	background-color: #3a6070;	
	color:white
}
label{
	color:lightslategrey;
}

